## ME 781  (Data Scale)

### Following tasks in sequence:

1. Create a list of 5 open data sets available for machine learning along with their links for each of the three Data Types (Discrete data Type, Sequential (temporal) data Type and Spatial data Type)


2. Write a python code to input a dataset (csv file) of Discrete data type, automatically identify and print the

    a. Number of attributes and number of entries
    
    b. Data scale of each attribute
    
    c. Data value of each attribute


3.      Write a python code to perform statistics on each data column based on its data scale.


4.      Can we use a box plot for visualizing ordinal data? (Yes/No). Explain why. 

![MicrosoftTeams-image2.png](attachment:MicrosoftTeams-image2.png)


5.      Write a python code to visualize data in the csv file (a generalized method depending upon data scale)

  ###  We have a software to check plagiarism in code, if anyone found copying the code, strict action will be taken against such students and can also be given FR grade directly.
    
  We  expect  you  to  upload  colab  notebooks  when  you  are  required  to  turn  your  programming assignments.  Please  make  sure  that  you  provide  enough  comments  in  the  code  for  the TAs to understand

### Libraries

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns 
from pandas.api.types import is_string_dtype
from pandas.api.types import is_numeric_dtype
import re

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

### 1. List of 5 open data sets

Discrete

In [ ]:
## Paste the URLs of open datasets here and add comments describing the dataset
url1 = "https://www.kaggle.com/vikasojha98/top-women-chess-players" 
# Top women chess players; Contains details of Top women chess players in the world sorted by 
# their Standard FIDE rating (highest to lowest above 1800 Elo) as updated in August 2020

url2 = "https://www.kaggle.com/vidyapb/indian-school-education-statistics" 
# Contains information about Indian School Education Statistics of the year 2013-2014 to 2015-2016. 
 # This dataset contains 7 files in .csv format about Percentage of Schools with Drinking Water Facility, Drop-out rate etc

url3 = "https://www.kaggle.com/heesoo37/120-years-of-olympic-history-athletes-and-results" 
# This is a historical dataset on the modern Olympic Games, including all the Games from Athens 1896 to Rio 2016.
 # Contains 271116 rows and 15 columns. Each row corresponds to an individual athlete competing in an individual Olympic event 

url4 = "https://www.kaggle.com/christianlillelund/passenger-list-for-the-estonia-ferry-disaster"
# The full list of all passengers and crew members aboard the MS Estonia. Interesting things to investigate about the data:
# Who's more likely to survive the sinking based on data? Is age an indicator for survival?

url5 = "https://www.kaggle.com/neuromusic/avocado-prices"
# Historical data on avocado prices and sales volume in multiple US markets
# Some relevant columns in the dataset: Date - The date of the observation, AveragePrice - the average price of a single avocado

Sequential

In [ ]:
url1 = "http://faculty.nps.edu/cmartell/NPSChat.htm" # 	Posts from age-specific online chat rooms, 
#The NPS Chat Corpus, Release 1.0 consists of 10,567 posts out of approximately 500,000 posts

url2 = "https://www.cs.cmu.edu/~./enron/" # Email data from the senior management of Enron that is organized into folders
# It contains data from about 150 users, mostly senior management of Enron, The corpus contains a total of about 0.5M messages.

url3 = "https://snap.stanford.edu/data/web-Amazon.html" # This dataset consists of reviews from amazon.
# The data span a period of 18 years, including ~35 million reviews up to March 2013. Reviews include product and user information, ratings, and a plaintext review.

url4 = "http://qwone.com/~jason/20Newsgroups/" # The 20 Newsgroups data set is a collection of approximately 20,000 newsgroup documents,
# partitioned (nearly) evenly across 20 different newsgroups

url5 = "http://www.cs.jhu.edu/~mdredze/datasets/sentiment/" # Features product reviews from Amazon.
# The Multi-Domain Sentiment Dataset contains product reviews taken from Amazon.com from many product types (domains)

Spatial

In [ ]:
url1 = "https://www.tensorflow.org/datasets/catalog/patch_camelyon" # The PatchCamelyon benchmark is a new and challenging image classification dataset. 
# It consists of 327.680 color images (96 x 96px) extracted from histopathologic scans of lymph node sections.
# Each image is annoted with a binary label indicating presence of metastatic tissue."

url2 = "https://data.mendeley.com/datasets/4drtyfjtfy/1" # Used for multi-class weather recognition, this dataset is a collection of 1125 images divided into four categories.
#  The image categories are sunrise, shine, rain, and cloudy

url3 = "https://www.kaggle.com/itsahmad/indoor-scenes-cvpr-2019" # From MIT, this dataset contains over 15,000 images of indoor locations. The dataset was originally built to tackle the problem of indoor scene recognition.
#  All images are in JPEG format and have been divided into 67 categories

url4 = "https://www.kaggle.com/puneet6060/intel-image-classification/version/2" # Created by Intel for an image classification contest, this expansive image dataset contains approximately 25,000 images.
#  Furthermore, the images are divided into the following categories: buildings, forest, glacier, mountain, sea, and street

url5 = "https://www.tensorflow.org/datasets/catalog/sun397" # this dataset contains over 108,000 images used in the Scene Understanding (SUN) benchmark. 
# Furthermore, the images have been divided into 397 categories.

### 2.   Write a python code to input a dataset (csv file) of Discrete datatype, automatically identify and print the

    a. Number of attributes and number of data points
    
    b. Data scale of each attribute
    
    c. Data value of each attribute

#### Note: The number of categories for categorical (nominal,ordinal) data scale for the evaluating datasets is not greater than 8.

In [ ]:
def data_description(filename):
    ## Write a well commented function that inputs dataset file location (.csv file) and outputs the following
    ## 1. data_scale (of length = number of attributes)
    ## 2. data_value (of length = number of attributes)
    ## 3. imported dataset for later use
    ## It should also print those details for each attribute(Output must be similar to what is mentioned below)

    #data_description(filename)
    df = pd.read_csv(filename)
    #display(df)
    print("This dataset contains %d entries, each with %d attributes" % (df.shape[0],df.shape[1]))
    print()
    #print(df['Fide id'].max())
    #print(df['Fide id'].nunique()/len(df)) # discrete if <=0.15 
    #print(df.dtypes)
    #print(df['Rapid_rating'][0].is_integer())

    def string_found(list_of_string1, string2):
      for string1 in list_of_string1:
         if re.search(r"\b" + re.escape(string1) + r"\b", string2, re.IGNORECASE):
             return True
         return False

    data_scales=[]
    data_values=[]
    for i,col in enumerate(df.columns):
      if string_found(['id','gender','name'],col):
        data_values.append((i,'discrete'))
        data_scales.append((i,'nominal'))
      elif (df[col].nunique()/len(df))>0.95:
        data_values.append((i,'discrete'))
        data_scales.append((i,'nominal'))        
      elif ('date' in col.lower()) | ('year' in col.lower()):
        data_values.append((i,'discrete'))
        data_scales.append((i,'interval')) 
      elif df[col].dtype == 'object':
        data_values.append((i,'discrete'))
        data_scales.append((i,'nominal'))    
      #elif 'rating' in col.lower():
      #  data_values.append((i,'discrete'))
       # data_scales.append((i,'ordinal')) 
      elif ((df[col].nunique()==2)):
      #( (df[col].dtype=='float64') | (df[col].dtype=='int64') | (df[col].dtype=='int32'):
        data_values.append((i,'discrete'))
        data_scales.append((i,'nominal'))     
      elif ((df[col].nunique()<=10) & (is_numeric_dtype(df[col]))):
      #( (df[col].dtype=='float64') | (df[col].dtype=='int64') | (df[col].dtype=='int32'):
        data_values.append((i,'discrete'))
        data_scales.append((i,'ordinal')) 
      elif ((df[col].nunique()<=10)):
      #( (df[col].dtype=='float64') | (df[col].dtype=='int64') | (df[col].dtype=='int32'):
        data_values.append((i,'discrete'))
        data_scales.append((i,'nominal')) 
      elif (len(df[df['Age']%1==0])==len(df)):
        data_values.append((i,'discrete'))
        if (df[col] < 0).values.any()):
          data_scales.append((i,'interval')) 
        else:
          data_scales.append((i,'ratio'))
      elif (is_numeric_dtype(df[col])):
        data_values.append((i,'continuous'))
        data_scales.append((i,'ratio'))      
    data_values.sort(key=lambda tup: tup[0])
    data_scales.sort(key=lambda tup: tup[0])

    for i,col in enumerate(df.columns):
      print('%d %s : %s , %s' % (i,col,data_scales[i][1],data_values[i][1]))
        
        
    return data_scales, data_values, df

In [ ]:
filename = "/content/estonia-passenger-list.csv"
data_scales, data_values, df = data_description(filename)

This dataset contains 989 entries, each with 8 attributes

0 PassengerId : nominal , discrete
1 Country : nominal , discrete
2 Firstname : nominal , discrete
3 Lastname : nominal , discrete
4 Sex : nominal , discrete
5 Age : ratio , discrete
6 Category : nominal , discrete
7 Survived : nominal , discrete

In [ ]:
print(df.head())
print(df['PassengerId'].nunique())
df.shape[0]
print(df['PassengerId'].value_counts())
print(len(df[df['Age']%1==0])==len(df))

   PassengerId  Country        Firstname  Lastname Sex  Age Category  Survived
0            1   Sweden      ARVID KALLE     AADLI   M   62        P         0
1            2  Estonia              LEA   AALISTE   F   22        C         0
2            3  Estonia             AIRI   AAVASTE   F   21        C         0
3            4   Sweden             JURI     AAVIK   M   53        C         0
4            5   Sweden  BRITTA ELISABET  AHLSTROM   F   55        P         0
987
463    2
767    2
989    1
338    1
336    1
      ..
654    1
653    1
652    1
651    1
1      1
Name: PassengerId, Length: 987, dtype: int64
True

In [ ]:
df['PassengerId'].mode()

0    463
1    767
dtype: int64

In [ ]:
#print(df.loc[df['Blitz_rating']%1==0])
#print(df.shape)
#print(df.describe())
#df2 = df.dropna()
#print(df2.describe())
for i,col in enumerate(df.columns):
  if data_scales[i][1]=='nominal':
    print(col)
    print("Mode %s" % (str(df[col].mode().values)))
    print(df[col].value_counts()[:5])
    print()
  if data_scales[i][1]=='ordinal':
    print(col)
    print("Median %s" % (str(df[col].median())))
    print("Mode %s" % (str(df[col].mode().values)))
    print(df[col].value_counts()[:5])
    print()
  if data_scales[i][1]=='ordinal':
    print(col)
    print("Median %s" % (str(df[col].median())))
    print("Mode %s" % (str(df[col].mode().values)))
    print(df[col].value_counts()[:5])
    print()

PassengerId
Mode [463 767]
463    2
767    2
989    1
338    1
336    1
Name: PassengerId, dtype: int64

Country
Mode ['Sweden']
Sweden     550
Estonia    344
Latvia      28
Finland     16
Russia      14
Name: Country, dtype: int64

Firstname
Mode ['ANDRES' 'RAIVO' 'TIINA']
RAIVO     8
TIINA     8
ANDRES    8
PAUL      6
KATRIN    6
Name: Firstname, dtype: int64

Lastname
Mode ['ANDERSSON']
ANDERSSON    15
NILSSON      12
ERIKSSON     11
KARLSSON      9
JOHANSSON     9
Name: Lastname, dtype: int64

Sex
Mode ['M']
M    503
F    486
Name: Sex, dtype: int64

Category
Mode ['P']
P    796
C    193
Name: Category, dtype: int64

Survived
Mode [0]
0    852
1    137
Name: Survived, dtype: int64

    Output must similar to this:
    
    This dataset contains 649 entries, each with 6 attributes

    0 gender : nominal, discrete
    1 age : ratio, discrete
    2 health_rating : ordinal, discrete
    3 StudentIQ : ratio, discrete
    4 no_of_courses : ratio, discrete
    5 Marks : ratio, continuous

### 3. Write a python code to perform statistics on each data column based on its data scale.

In [ ]:
def stats(filename):
    ## Write a well commented function that calls the function data_description and prints
    ## relevant statistics based on data scale.
    ## Hint: Explore describe()
    
    return

In [ ]:
stats(filename)

In [ ]:
(df.describe().iloc[:,0])

count    8.553000e+03
mean     8.829011e+06
std      9.226777e+06
min      1.001450e+05
25%      2.119447e+06
50%      4.500539e+06
75%      1.360553e+07
max      7.360114e+07
Name: Fide id, dtype: float64

    Output must be some what similar to this:

    gender
    mode F
    F    383
    M    266
    Name: gender, dtype: int64 

    age
    mode      17.000000
    mean      16.744222
    std        1.218138
    min       15.000000
    25%       16.000000
    median    17.000000
    75%       18.000000
    max       22.000000
    Name: age, dtype: float64 

    health_rating
    mode   5
    median 4
    1     90
    2     78
    3    124
    4    108
    5    249
    Name: health_rating, dtype: int64 

    StudentIQ
    mode     104.000000
    mean     100.229584
    std       10.256494
    min       75.000000
    25%       93.000000
    median   101.000000
    75%      107.000000
    max      131.000000
    Name: StudentIQ, dtype: float64 

    no_of_courses
    mode      17.000000
    count    649.000000
    mean      10.596302
    std        5.714697
    min        1.000000
    25%        5.000000
    median    11.000000
    75%       16.000000
    max       20.000000
    Name: no_of_courses, dtype: float64 

    Marks
    mode      52.810000
    count    649.000000
    mean      75.137257
    std       14.559722
    min       50.120000
    25%       62.560000
    median    75.120000
    75%       87.670000
    max       99.860000
    Name: Marks, dtype: float64

### 4. Can we use a box plot for visualizing ordinal data ? (Yes/No). Explain why.
![MicrosoftTeams-image2.png](attachment:MicrosoftTeams-image2.png)

### Write your answer here. 
    YES/NO Because

###   5.  Write a python code to visualize the data (a generalized method depending on data scale)

In [ ]:
def visualize_data(filename):
        ## Write a well commented function that can call any of the functions from above 
        ## to plot relevant plots
        ## Hint: Use sns.distplot, sns.countplot. Make a new figure for each plot (plt.figure(i))
        return